# Lock publishing to npm public registry only
registry=https://registry.npmjs.org/

# Ensure scoped packages are public by default
@enteroverdrive:registry=https://registry.npmjs.org/

# Prevent accidental publish without login
access=public
